html,
body {
  background-image: url("/bg.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input {
  width: 80%;
  padding: 9px;
  background-color: rgb(206, 206, 206);
  border-radius: 5px;
}
button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(216, 74, 38);
  margin-left: 5px;
  color: whitesmoke;
}
.myform {
  margin-top: -300px;
}
